body{
    background: rgb(45, 211, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
form{
    width: 300px;
}
.label{
    text-align: center;
    margin-bottom: 7px;
    color: white;
    padding: 5px
}
input{
    border: none;
}
input, button{
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
button{
    cursor: pointer;
    margin-top: 5px;
}
button[disabled]{
    opacity: 0.4;
}
button:active{
    opacity: 0.4;
}
.clear{
    background: transparent;
    border: none;
    color: white;
}
.solid{
    background: white;
    border: none;
    color: rgb(45, 211, 111);;
}
.outline{
    background: transparent;
    color: white;
    border: 1px solid white;
}